.profile__avatar-link {
  width: 120px;
  height: 120px;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  opacity: 1;
  transition: opacity 2s;
}

.profile__avatar-link:hover::after {
  opacity: 0.8;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../../../images/Vector.svg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px;
}

