.element__group-button {
  background-image: url(../../../images/Vector-like.svg);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  padding: 0 0 0 22px;
  margin: 0;
  border: 0;
  align-self: center;
  cursor: pointer;
  transition: opacity 1s;
}

.element__group-button:hover {
  opacity: 50%;
}
