.sign-up__password {
  margin-bottom: 216px;
  border: none;
  border-bottom: 2px solid #CCCCCC;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #CCCCCC;
  background: none;
}

@media screen and (max-width: 400px) {
  .sign-up__password {
    margin-bottom: 173px;
    }
  }